# dependencies
/node_modules/
client/node_modules/
server/node_modules/

# coverage
/coverage
client/coverage
server/coverage

# production
build*/
client/build*/
server/build*/

# misc
.vscode/
.DS_Store
.env
.env*.local
npm-debug.log*
dist/
